* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
  

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  #note-title,
  #note-title-input {
    width: 65%;
    font-size: 25px;
    font-weight: bolder;
  }

  #note-text,
  #note-textarea {
    height: 80%;
  }

  .btns {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .note {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: 8px;
    border-radius: 10px;
    height: 300px;
    width: 240px;
    box-shadow: 2px 2px 5px 2px #cacaca;
  }
  
  .note-add {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
  }
  
  .note-edit {
    padding: 4px;
    cursor: pointer;
  }
  
  .note-delete {
    padding: 4px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }